@using DateComparer.Models
@model HomePageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form action="Home" method="POST">
    
    @Html.EditorForModel()
    <input type="submit"/>
</form>